<h1>Restaurants</h1>

<p> <% @restaurants.each do |restaurant|  %> </p>
<p> <%= link_to restaurant.name, restaurant_path(restaurant) %> </p>
<p> <% end %> </p>

<%= link_to "Create a Restaurant", new_restaurant_path %>